http:
  routers:
    traefik:
      rule: "Host(`traefik.home.nicdumz.fr`)"
      service: api@internal
      middlewares:
        - allowlist
  middlewares:
    allowlist:
      ipAllowList:
        sourceRange:
          # Those IPs are set in compose2nix
          - "ip.of.lan.lol"
    cors:
      headers:
        accessControlAllowMethods:
          - GET
          - HEAD
          - OPTIONS
          - PUT
        accessControlAllowCredentials: true
        accessControlAllowOriginList: ["https://jellyseerr.home.nicdumz.fr/", "https://home.nicdumz.fr"]
        addVaryHeader: true
tls:
  stores:
    default:
      defaultGeneratedCert:
        resolver: gandi
        domain:
          main: "*.home.nicdumz.fr"
          sans:
            - "home.nicdumz.fr"
