api:
  dashboard: true
  debug: false
ping: {}
metrics:
  prometheus:
    addEntryPointsLabels: true
entryPoints:
  traefik:
    # Overridden from :8080 which listens on all IPs.
    address: "127.0.0.1:8080"
  websecure:
    address: "somehost:443" # also overriden in derivation
    http:
      middlewares:
        - cors@file
      tls:
        certResolver: gandi
# Verbose traffic log so I can debug
accessLog: {}
certificatesResolvers:
  gandi:
    acme:
      email: "nicdumz@gmail.com"
      storage: "/var/lib/traefik/acme.json"
      dnsChallenge:
        provider: gandiv5
        # Blocky otherwise would mask the actual Gandi record.
        resolvers: 1.1.1.1:53, 8.8.8.8:53
